<div class="card-category" id="show-card">
  <h1><%= @list.name %></h1>
</div>
<div class="container">
  <div class="new-bookmark d-flex justify-content-end mt-2 gap-2 align-items-center">
    <%= link_to "Home", lists_path, class: "btn btn-warning" %>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Add a Movie
    </button>
    <%= link_to "Delete this List", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-warning" %>
  </div>
  <div id="bookmarks" class="movie-cards mb-3">
    <% @list.bookmarks.each do |bookmark| %>
      <%= render "bookmarks/bookmark", bookmark: bookmark %>
    <% end %>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add a movie to your list</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <turbo-frame id="bookmark_form">
          <%= render "bookmarks/form", list: @list, bookmark: @bookmark %>
        </turbo-frame>
      </div>
    </div>
  </div>
</div>
