<div class="movie-card">
  <div class="poster">
    <%= image_tag bookmark.movie.poster_url, alt: "#{bookmark.movie.title} Poster" %>
    <div class="movie-info">
      <p><%= bookmark.movie.title %></p>
      <p>⭐ <%= bookmark.movie.rating %></p>
    </div>
    <div class="overview">
      <p><%= bookmark.movie.overview %></p>
      <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </div>
    <div class="comment">
      <p>--<%= bookmark.comment %></p>
    </div>
  </div>
</div>
